{%extends "base.html"%}

{%block title%}Yuki's Tool{%endblock%}

{%block style%}
<style>
    .row {
        height: 5em
    }
</style>
{%endblock%}

{%block main%}
<figure class="text-center">
    <h1 class="display-4">Welcome To Yuki's Tool Webside!</h1>
    <p class="lead">(´,,•ω•,,)♡</p>
    <hr class="my-4">
    <p>Develope with <strong>Bootstrap.</strong></p>
    <div class="container">
        <div class="row">
            <div class="col badge bg-secondary">
                1 of 3
            </div>
            <div class="col-1"></div>
            <div class="col badge bg-secondary">
                2 of 3
            </div>
            <div class="col-1"></div>
            <div class="col badge bg-secondary">
                3 of 3
            </div>
        </div>
</figure>
{%endblock%}